
<h1>Add a new Landmark:</h1>

<form action="/landmarks" method="POST">
  <label>Name</label><br>
  <input type="text" id="landmark_name" name="landmark[name]" /><br>
  <label>Year Completed</label><br>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" /><br>

  <input type="submit" value="Create New Landmark">
</form>
