<h1>Edit Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name</label></br
  <input id="name" type="text" name="landmark[name]" value=<%=@landmark.name%> ><br>
  <>
  <input type="submit" value="submit">
</form>
