<h1>Edit Figure</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="figure[name]" id="figure_name">
  <input type="text" name="landmark[name]" id="new_landmark">
  <input type="submit" value="submit">
</form>
